:before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav {
    background-color: #3C6255;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px 20px;
}

@media (max-width: 720px) {
    nav ul {
        display: none;
    }
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: #61876E;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
}

nav a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
    margin-top: 8px;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

.contact {
    float: right;
    width: 50%;
    max-width: 100%;
    padding: 20px;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 22, 9, 0.815), rgba(0, 0, 0, 0.664)), url('pictures/sabs.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    margin: 0;
    max-width: 100%;

}

.class-description1 {
    display: flex;
    padding: 0px 100px 20px 100px;
    text-align: center;
    justify-content: center;
}

.small-font {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0px;
    word-wrap: break-word;
    justify-content: center;
}

footer {
    background-color: #3C6255;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer li {
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.my-image {
    width: 400px;
    padding: 10px;
    border-radius: 80%;
}

.button {
    background-color: #61876E;
    border: none;
    color: white;
    width: 50%;
    max-width: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button2 {
    background-color: #61876E;
    border: none;
    color: white;
    width: 80%;
    max-width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}

.container {
    display: flex;
    flex-direction: row
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container2 {
    display: flex;
    justify-content: center;
    margin: 0px
}

.container7 {
    display: list-item;
    justify-content: center;
    margin: 20px
}

@media (max-width: 1030px) {
    .my-image {
        width: 200px;
    }

    .container2 {
        display: none;
    }
}


.my-image1 {
    justify-content: center;
    width: 400px;
    padding: 10px;
    border-radius: 80%;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px 1px 1px 1px
}

.button {
    margin: 10px;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 240px
}

.container6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: px
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.popup-content {
    border: 2px solid #61876E;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3C6255;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.popup-content button {
    display: block;
    margin: 20px auto 0;
    padding: 7.5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #61876E;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.popup-content p {
    margin: 0;
    padding: 0;
}

.popup-header {
    font-size: 12px;
    font-weight: bolder;
}

.popup-description {
    font-size: 10px;
    padding: 3px;
}

.popup-content img {
    max-width: 40%;
    padding: 0px 0px 3px 0px;
}