:before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #3C6255;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px 20px;
}

@media (max-width: 767px) {
    nav ul {
        display: none;
    }
}

h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 8px
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: #61876E;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
}

nav a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
    margin-top: 8px;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.title {
    float: left;
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    position: relative;
}

.contact {
    float: right;
    width: 50%;
    max-width: 100%;
    padding: 20px;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 22, 9, 0.815), rgba(0, 0, 0, 0.664)), url('/pictures/sabs.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    max-width: 100%;

}

.class-description {
    display: flex;
    padding: 20px 100px 20px 100px;
    text-align: center;
    justify-content: center;
}

.small-font {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0px;
    word-wrap: break-word;
}

footer {
    background-color: #3C6255;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer li {
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


body {
    background-image: linear-gradient(to bottom, rgba(0, 22, 9, 0.815), rgba(0, 0, 0, 0.664)), url('pictures/sabs.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #61876E;
    border: none;
    color: white;
    width: 50%;
    max-width: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button1 {
    background-color: #61876E;
    border: none;
    color: white;
    width: 80%;
    max-width: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button2 {
    background-color: #61876E;
    border: none;
    color: white;
    width: 80%;
    max-width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 15px;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: row
}

.container3 {
    display: flex;
    justify-content: center;
    margin: 50px
}

.container1 {
    display: flex;
    justify-content: center;
    margin: 0px
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1px 1px 1px 1px
}

.button {
    margin: 10px;

}

.VnM {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Description {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 250px;
    padding: 0 100px 0 100px;
}

.descriph2 {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    padding: 1px 10px 10px 10px;
}

.title4 {
    color: white;
    text-align: center;
    padding: 100px 0px 1px 0px
}

@media (max-width: 767px) {
    .Description {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 200px;
        padding: 0 25px 0 25px;
    }

    .title h1 {
        margin: 0;
        font-size: 20px;
        color: #ffffff;
        position: relative;
    }

    h2 {
        font-size: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .small-font {
        font-size: 12px;
        color: #ffffff;
        margin-bottom: 0px;
        padding: 1px;
        margin: 1px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .descriph2 {
        font-size: 12px;
        text-align: center;
        font-weight: normal;
        padding: 0px 0px 10px 0px;
    }

    .class-description {
        display: flex;
        padding: 20px 50px 20px 50px;
        text-align: center;
        justify-content: center;
    }

    .button1 {
        background-color: #61876E;
        border: none;
        color: white;
        width: 70%;
        max-width: 100px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    .container6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin: px
    }

    .title4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 25;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px 100px 0px 100px;
        padding: 70px 0px 20px 0px
    }

    .button2 {
        background-color: #61876E;
        border: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        width: 80%;
        max-width: 200px;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        margin: 3px;
        border-radius: 15px;
    }
}